{% extends "header.html" %}

{% block content%}
<div id="chs_body" style="">
	<div><span style="font-size: 18px; font-weight: bold; color: black;">Welcome Guest</span></div>
	<div style="margin-top: 30px;"><span style="">OCS is a guided self service tool to help sales and non technical people provide customers with initial configurations in 3 to 5 minutes. You may then send the configuration on for special pricing or configuration help, or use in your existing ordering processes. Use "Find a Partner" to finalize the quote and purchase your solution. http://findapartner.hpe.com/</div>
	<div id="chs_content_body" style="height: 400px; margin-top: 30px; ">
		<div id="new_conf" style="float:left; border: 2px solid #767676;; width:600px;">
			<div style="height: 50px; background-color: #5F7A76;"><span style="color: white; font-size:20px; font-weight: bold; text-align: center; margin: 10px;">New Configuration</span></div>
			<div style="margin: 20px 30px;">
				<div><h4 style="color: #757575;font-size:20px;line-height:24px;">Help me choose the Solution...</h4></div>
				<div style="border: 1px solid gray"></div>
				<div style="margin: 20px 0;">To Create Configuration, <br/>Choose one of the following Products:</div>
				<div id="prd_list">
					<ul id="left_c">
						<li> > <a href="#">ProLiant Server Blades</a></li>
						<li> > <a href="/HP_SimplifiedConfig/1/">ProLiant DL Servers</a></li>
						<li> > <a href="#">ProLiant ML Servers</a></li>
						<li> > <a href="#">Integrity Server Blades</a></li>
					</ul>
					<ul id="right_c">
						<li> > <a href="#">Storage</a></li>
						<li> > <a href="#">Networking</a></li>
						<li> > <a href="#">BladeSystem c-Class Enclosures</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="open_conf" style="float:right;border: 2px solid #767676; width:600px; ">
			<div style="height: 50px; background-color: #5F7A76;"><span style="color: white; font-size:20px; font-weight: bold; text-align: center; margin: 10px;">Open Configuration</span></div>
			<div style="margin: 20px 30px;">
				<div style="margin: 20px 0;">To view Configuration, <br/>Choose one of the following:</div>
				<div>
					<ul>
						<li> > <a href="#">ProLiant Server Blades</a></li>
					</ul>
				</div>
			<!-- search input bar begin -->
			<div class="container">
				<div class="row">
					<h6>From Server</h6>
			           <div id="custom-search-input">
                            <div class="input-group col-md-12" style="width:250px;">
                                <input type="text" class="  search-query form-control" placeholder="Edit Configuration Id" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
					</div>
				</div>
			<!-- search input bar end -->
			<div style="margin-bottom: 50px;">
				<h6>From Local Drive</h6>
				<button class="hp_btn" type="button" style="border:2px solid green; padding:10px; background-color: white; color: black; font-size: 14px; width:240px;">OPEN FROM LOCAL DRIVE</button>
			</div>
			</div>
			
		</div>
	</div>
	<div style="clear: both"></div>
</div>
{% endblock %}