<h3>HP DL580 Gen9 Configure-to-order Server</h3>

<h5>Hard Drive bays and drive cage</h5>
{% load staticfiles %}
{% block content %}
<div>
	<table>
		<tr>
			<td><img class="choice_icon" src="{% static 'images/prod_img/prod_categories/up-arrow.png'%}"/></td>
			<td><span style="font-size:12px;">Backplane Kit</span></td>
		</tr>
	</table>
	<table class="table_req">
		<tbody>
			<tr>
				<th class="tableheader">Part Number</th>
				<th class="tableheader">Description</th>
				<th class="tableheader">Price</th>
				<th class="tableheader">QTY</th>
			</tr>
		
			{% for data in object_list %}
			{% if '1' in data.type %}
				<tr>
					<td class="tabledetail">{{data.part_num}}</td>
					<td class="tabledetail">{{data.description}}</td>
					<td class="tabledetail">{{data.price}}</td>
					<td class="tabledetail">1</td>
				</tr>
			{% endif %}
			{% endfor %}
			
		</tbody>
	</table>
</div>

<div>
	<table>
		<tr>
			<td><img class="choice_icon" src="{% static 'images/prod_img/prod_categories/up-arrow.png'%}"/></td>
			<td><span style="font-size:12px;">Hard Drive Bays</span></td>
		</tr>
	</table>
	<table  class="table_req">
		<tbody>
			<tr>
				<th class="tableheader">Part Number</th>
				<th class="tableheader">Description</th>
				<th class="tableheader">Price</th>
				<th class="tableheader">QTY</th>
			</tr>
		
			{% for data in object_list %}
			{% if '2' in data.type %}
				<tr>
					<td class="tabledetail">{{data.part_num}}</td>
					<td class="tabledetail">{{data.description}}</td>
					<td class="tabledetail">{{data.price}}</td>
					<td class="tabledetail">1</td>
				</tr>
			{% endif %}
			{% endfor %}
			
		</tbody>
	</table>
</div>

{% endblock %}

